// Colors -- Start
$black: rgb(0 0 0);
$white: rgb(255 255 255);

// Colors -- End


// Font -- Start
$base-font-size: 16px !default;

// Font -- End


// Misc -- Start
$preflourish: "\2665";
$postflourish: "\2665";
$header-height: 100px;

// Misc -- End


// Spacing -- Start
$spacing: 15px;

// Spacing -- End
