.palette-hyper {
	  $backgroundOne: rgb( 229, 229, 229 );
	  $backgoundTwo: rgb( 202, 205, 229 );
	  $foreground: rgb( 110, 0, 148 );

	  $primary: rgb( 36, 246, 255 );
	  $primaryDark: rgb( 26, 174, 180 );
	  $secondaryDark: rgb( 167, 0, 224 );
	  $secondary: rgb( 243, 232, 255 );

	  @include base-palette($foreground, $backgroundOne, $backgoundTwo, $primary, $primaryDark, $secondary, $secondaryDark);

	}
