@use "sass:color";

@mixin base-palette($bg-grad-start, $bg-grad-end, $border-color, $chrome-element-color, $chrome-font-color, $chrome-grad-start, $chrome-grad-end, $code-bg, $font-color, $picker-bg) {
  $chrome-grad-deg: 315deg;
  $background-deg: -45deg;

  body {
    background: linear-gradient($background-deg, $bg-grad-start, $bg-grad-end);
    background-attachment: fixed;
  }

  meta[name="theme-color"] {
    color: $bg-grad-end;
  }

  .page-header {
    background: linear-gradient($chrome-grad-deg, $chrome-grad-start, $chrome-grad-end);
    background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
  }

  .story {
    color: $font-color;
  }

  .story blockquote {
    border-left-color: $chrome-element-color;
  }

  .story h1,
  .story h2,
  .story h3,
  .story h4,
  .story h5,
  .story h6 {
    color: $chrome-font-color;
  }

  .story hr {
    background: $chrome-element-color;
  }

  .story code,
  .story pre {
    background: $code-bg;
    color: $chrome-font-color;
  }

  .story .date {
    color: $chrome-font-color;
  }

  .story a,
  .text-gradient {
    background: linear-gradient($chrome-grad-deg, $chrome-grad-start, $chrome-grad-end);
    background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
  }

  .border-gradient {
    border-image: linear-gradient($chrome-grad-deg, $chrome-grad-start, $chrome-grad-end) 10;
  }

  .hr-gradient {
    background-image: linear-gradient($chrome-grad-deg, $chrome-grad-start, $chrome-grad-end);
  }

  .gradient-start {
    stop-color: $chrome-grad-start;
  }

  .gradient-end {
    stop-color: $chrome-grad-end;
  }

  .picker-set {
    border: 2px solid $border-color;
    box-shadow: calc($spacing / 3) calc($spacing / 3) $border-color;
    background: $picker-bg;
    color: $chrome-font-color;
  }

  .picker-button {
    &:hover {
      background: color.adjust($picker-bg, $lightness: -10%);
    }
  }

  .picker-option {
    &:hover {
      background: color.adjust($picker-bg, $lightness: -10%);
    }
  }

  .picker-item-selected {
    border-right: calc($spacing / 3) solid $border-color
  }
}
