.palette-hyper {
	$bg-grad-start: rgb(53 0 36);
    $bg-grad-end: rgb(22 53 63);
    $border-color: rgb(172 84 178);
    $chrome-element-color: rgb(153 0 102);
    $chrome-font-color: rgb(166 129 166);
    $chrome-grad-start: rgb(55 144 188);
    $chrome-grad-end: rgb(209 93 161);
    $code-bg: rgb(143 226 232);
    $font-color: rgb(212 212 212);
    $picker-bg: rgb(22 56 66);

	  @include base-palette($bg-grad-start, $bg-grad-end, $border-color, $chrome-font-color, $chrome-font-color, $chrome-grad-start, $chrome-grad-end, $code-bg, $font-color, $picker-bg);

	}
