.palette-night {
      $background-one: #120458;
      $background-two: #120458;
      $foreground: #fe75fe;
      $primary: #ff00a0;
      $primary-dark: rgb(246 239 1);
      $secondary-dark: rgb(0 248 248);
      $secondary: #8853b9;

      @include base-palette($foreground, $background-one, $background-two, $primary, $primary-dark, $secondary, $secondary-dark);

    }
