.palette-october {
  $background-one: rgb(255 246 229);
  $background-two: rgb( 230 208 208 );
  $foreground: rgb( 161 65 53 );
  $primary: rgb( 185 27 8 );
  $primary-dark: rgb( 97 14 4 );
  $secondary-dark: rgb(255 143 0);
  $secondary: rgb(255 237 204);

  @include base-palette($foreground, $background-one, $background-two, $primary, $primary-dark, $secondary, $secondary-dark);

}
