{% seo title=false %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="{{ "/assets/main-bundle.js" | relative_url }}"></script>
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

  <link rel="icon" href="{{ "/assets/images/favicon.ico" | relative_url }}">

  <title>{{ site.title }}{% if page.title != "" %}: {{ page.title }}{% endif %}</title>

  <style data-controller="head"></style>
</head>
