<div
  class="col-12 col-2-md text-center noselect"
  data-controller="menu"
  data-menu-hide-sm-class="hide-sm"
  data-menu-hide-xs-class="hide-xs"
  data-menu-is-open-value="false"
>

  <div
    class="menu-spindown hide-lg hide-md cursor-pointer m-b-sm text-gradient"
    data-action="click->menu#toggleMenu"
  >
    <span>menu <span>⌄</span></span>
  </div>

  <div
    class="menu-links hide-sm hide-xs"
    data-menu-target="links"
  >
    <hr class="hide-md hide-lg m-auto hr-gradient">
    <div class="m-t-sm">
      <a href="{{ "/about" | relative_url }}" title="about {{ site.title }}">about</a>
    </div>
    <div class="m-t-sm">
      <a href="https://twitter.com/{{ site.author.twitter }}" title="Twitter" target="_blank">twitter</a>
    </div>
    <div class="m-t-sm">
      <a href="https://github.com/{{ site.author.github }}" title="GitHub" target="_blank">github</a>
    </div>
  </div>

</div>
