<div class="col-12 col-2-md text-center noselect">

  <div class="menu-spindown hide-lg hide-md cursor-pointer m-b-sm text-gradient">
    <span>menu <span>⌄</span></span>
  </div>

  <div class="menu-links hide-sm hide-xs">
    <hr class="hide-md hide-lg m-auto hr-gradient">
    <div class="m-t-sm">
      <a href="{{ "/about" | relative_url }}" title="about {{ site.title }}">about</a>
    </div>
    <div class="m-t-sm">
      <a href="https://twitter.com/{{ site.author.twitter }}" title="Twitter" target="_blank">twitter</a>
    </div>
    <div class="m-t-sm">
      <a href="https://github.com/{{ site.author.github }}" title="GitHub" target="_blank">github</a>
    </div>
  </div>

</div>
