<div
  class="row text-center m-t-sm"
  data-controller="nameplate"
  data-nameplate-author-names-value='{{ site.app_context.author.name | jsonify }}'
  data-nameplate-hearts-value='{{ site.app_context.hearts | jsonify }}'
>
  <div class="col-2"></div>

  <div class="col-8">
    <a href="{{ "/" | relative_url }}" title="{{ site.title }} homepage" class="header flourishless">

      <div class="inline-block header-flourish no-grad"><span data-nameplate-target="heartLeft">&#x1f49c;</span></div>
      <div class="inline-block">
        <div
          class="inline-block header-title text-gradient"
          data-title="{{ site.title }}"
          data-nameplate-target="title"
        >{{ site.title }}
        </div>

        <div
          class="byline text-gradient"
          title="named {{ site.app_context.author.name.first[0] }} {{ site.app_context.author.name.last[0] }}"
        >
          <span>
            named
            <span
              class="byline-name"
              data-nameplate-target="byline"
            >{{ site.app_context.author.name.first[0] }} {{ site.app_context.author.name.last[0] }}
            </span>
          </span>
        </div>
      </div>
      <div class="inline-block header-flourish no-grad"><span data-nameplate-target="heartRight">&#x1f49b;</span></div>

    </a>
  </div>

</div>
