<div
  class="picker"
  data-controller="picker"
  data-picker-target="picker"
  data-picker-is-open-value="false"
  data-picker-hidden-class="is-hidden"
>
  <div
    data-picker-target="options"
    class="is-hidden"
  >
    {% for palette in site.app_context.palettes.available %}
    <div
      data-action="click->picker#changeThemeColors"
      data-pallete="{{ palette[0] }}"
      class="picker--item palette-{{ palette[0] }}"
    >
      <span class="text-gradient">
        <span class="text-gradient-reset">
          {{ palette[1].icon }}
        </span>
        {{ palette[1].name }}
      </span>
    </div>
    {% endfor %}
    <hr
      class="picker--divider"
    />
  </div>
  <div
    data-action="click->picker#toggleMenu"
    class="picker--item"
    data-palette="{{ site.app_context.palettes.default }}"
  >
    <span class="text-gradient">
      <span class="text-gradient-reset" data-picker-target="buttonIcon">
        {{ site.app_context.palettes.available[site.app_context.palettes.default].icon }}
      </span>
      <span data-picker-target="buttonName">
        {{ site.app_context.palettes.available[site.app_context.palettes.default].name }}
      </span>
    </span>
  </div>
</div>
