<div class="story-container border-gradient">
  <div class="story">

    <h1 class="story-title is-marginless">
      <a class="flourishless" href="{{ include.url }}" title="{{ include.title }}">{{ include.title }}</h1></a>
    {% if include.layout == "post" %}
      <p class="is-marginless">
        <span class="date">{{ include.date | date: "%A, %B %-d, %Y" }}</span>
        {% if include.tags %}
        <span class="divider">|</span>
        {% for tag in include.tags %}
        {% assign tag_slug = tag | slugify %}
        <a href="{{ '/stuff/' | append: tag_slug }}">{{ tag }}</a>
        {% endfor %}
        {% endif %}
      </p>
    {% endif %}
    <div class="story-content">
      {{ include.content }}
    </div>
  </div>
</div>
