@charset "utf-8";


// Colors -- Start
$black: #000000;
$gray: #e0e0e0;
$pink: rgb(235, 87, 237);
$pink-dark: rgb(255, 20, 147);
$orange: rgb(255, 143, 0);
$orange-light: rgb(255, 237, 204);
// Colors -- End


// Font -- Start
$base-font-size: 16px !default;
// Font -- End


// Misc -- Start
$flourish: "\22C8";
$header-height: 100px;
// Misc -- End

// Spacing -- Start
$spacing: 15px;
// Spacing -- End
