<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body
    class="palette-{{ site.app_context.palettes.default }}"
  >

    <div
      class="container"
      data-controller="page"
      data-page-hidden-class="is-hidden"
      data-page-story-content-class="story-content"
    >
      {% include nameplate.html %}

      <div class="row">
        {% include menu.html %}
        <div class="col-12 col-8-md">

          {% if page.autopages %}
          <div class="text-left">
            <h2
              class="page-header  is-marginless"
            >{{ page.autopages.display_name }} stuff</h2>
          </div>
          {% endif %}

          {{ content }}

        </div>
      </div>
      <div class="m-b-xl"></div>
      {% include picker.html %}

      <div
        class="overlay is-hidden"
        data-page-target="overlay"
        data-action="click->page#hideOverlay"
      ></div>

    </div>

  </body>

</html>
