<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <main class="container" aria-label="Content">
      {% include header.html %}

      <div class="row">
        {% include menu.html %}
        <div class="col-1 hide-md hide-lg"></div>
        <div class="col-10 col-8-md">
          {{ content }}
        </div>
      </div>

      {% include overlay.html %}

    </main>

    <style class="rand-font-style"></style>
    <style class="rand-color-style"></style>

    {% include scripts.html %}

  </body>

</html>
