<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#ffffff">
    <script type="module" src="/theme/main.{{SOME_PERSON.theme.hash}}.js"></script>
    <script nomodule src="/theme/main.{{SOME_PERSON.theme.hash}}.legacy.js"></script>
    <script nomodule src="/theme/polyfills.legacy.js"></script>
    <link rel="stylesheet" href="/theme/main.{{ SOME_PERSON.theme.hash }}.css">
    <link rel="icon" href="/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>
        {%- if article -%}
            {{ article.title }} | {{ SITENAME }}
        {%- else -%}
            {{ SITENAME }}
        {%- endif -%}
    </title>
    <style data-controller="head" data-action="keydown@document->head#keyPress"></style>
</head>
