<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#ffffff">
    <script src="/theme/main.{{SOME_PERSON.theme.hash}}.js"></script>
    <link rel="stylesheet" href="/theme/main.{{ SOME_PERSON.theme.hash }}.css">
    <link rel="icon" href="/favicon.ico">
    <title>{{ SITENAME }}
        {% if article %}: {{ article.title }}{% endif %}
    </title>
    <style data-controller="head"></style>
</head>
