<div class="row text-center m-t-sm"
     data-controller="nameplate"
     data-nameplate-author-names-value='{{ SOME_PERSON.author.names|tojson }}'
     data-nameplate-emojis-value='{{ SOME_PERSON.theme.emojis|tojson }}'>
    <div class="col-12 col-1-md col-2-lg"></div>
    <div class="col-12 col-10-md col-8-lg">
        <a href="/" title="{{ SITENAME }} homepage" class="header flourishless">
            <div class="inline-block header-flourish no-grad">
                <span data-nameplate-target="emojiLeft">💜</span>
            </div>
            <div class="inline-block">
                <div class="inline-block header-title text-gradient"
                     data-title="{{ SITENAME }}"
                     data-nameplate-target="title">{{ SITENAME }}</div>
                <div class="byline text-gradient"
                     title="named {{ SOME_PERSON.author.name_parts[0] }} {{ SOME_PERSON.author.name_parts[1] }}">
                    <span>
                        named
                        <span class="byline-name" data-nameplate-target="byline">{{ SOME_PERSON.author.name_parts[0] }} {{ SOME_PERSON.author.name_parts[1] }}
                        </span>
                    </span>
                </div>
            </div>
            <div class="inline-block header-flourish no-grad">
                <span data-nameplate-target="emojiRight">💛</span>
            </div>
        </a>
    </div>
</div>
