<div class="story-container border-gradient">
    <div class="story">
        <h1 class="story-title is-marginless">
            <a href="/{{ article.url }}" title="{{ article.title }}">{{ article.title }}</a>
        </h1>
        <p class="is-marginless">
            {% if article.date %}
                <span class="date">{{ article.date|strftime("%A, %B %-d, %Y") }}</span>
            {% endif %}
            {% if article.tags %}
                <span class="divider">|</span>
                {% for tag in article.tags %}<a href="/blog/stuff/{{ tag }}.html">{{ tag }}</a>{% endfor %}
            {% endif %}
        </p>
        <div class="story-content">{{ article.content }}</div>
    </div>
</div>
